In [4]:
import datetime as dt
import yfinance as yf
yf.set_tz_cache_location('Asia/Tokyo')

In [5]:
ticker = yf.Ticker('USDJPY=X')

In [20]:
delta = dt.timedelta(days=1)
end = dt.date.today() + delta
start = end - 2 * delta

ticker.history(start=start, end=end, interval='1m')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2024-07-31 00:00:00+01:00,152.875000,152.934998,152.860992,152.869003,0,0.0,0.0
2024-07-31 00:01:00+01:00,152.862000,152.953003,152.862000,152.953003,0,0.0,0.0
2024-07-31 00:02:00+01:00,152.955994,152.972000,152.912003,152.949997,0,0.0,0.0
2024-07-31 00:03:00+01:00,152.944000,152.973999,152.906998,152.919998,0,0.0,0.0
2024-07-31 00:04:00+01:00,152.921997,152.931000,152.882996,152.886002,0,0.0,0.0
...,...,...,...,...,...,...,...
2024-08-01 00:22:00+01:00,150.100998,150.110001,150.072998,150.087006,0,0.0,0.0
2024-08-01 00:23:00+01:00,150.089005,150.119995,150.072998,150.074997,0,0.0,0.0
2024-08-01 00:24:00+01:00,150.074997,150.093002,150.074997,150.084000,0,0.0,0.0
2024-08-01 00:25:00+01:00,150.085999,150.098007,150.044998,150.067001,0,0.0,0.0
2024-08-01 00:26:00+01:00,150.061005,150.061005,150.061005,150.061005,0,0.0,0.0

In [18]:
ticker.history_metadata

{'currency': 'JPY',
 'symbol': 'JPY=X',
 'exchangeName': 'CCY',
 'fullExchangeName': 'CCY',
 'instrumentType': 'CURRENCY',
 'firstTradeDate': 846633600,
 'regularMarketTime': 1722468344,
 'hasPrePostMarketData': False,
 'gmtoffset': 3600,
 'timezone': 'BST',
 'exchangeTimezoneName': 'Europe/London',
 'regularMarketPrice': 150.06,
 'fiftyTwoWeekHigh': 150.318,
 'fiftyTwoWeekLow': 149.777,
 'regularMarketDayHigh': 150.318,
 'regularMarketDayLow': 149.777,
 'regularMarketVolume': 0,
 'chartPreviousClose': 152.67,
 'previousClose': 149.919,
 'scale': 4,
 'priceHint': 4,
 'currentTradingPeriod': {'pre': {'timezone': 'BST',
   'end': 1722466800,
   'start': 1722466800,
   'gmtoffset': 3600},
  'regular': {'timezone': 'BST',
   'end': 1722553140,
   'start': 1722466800,
   'gmtoffset': 3600},
  'post': {'timezone': 'BST',
   'end': 1722553140,
   'start': 1722553140,
   'gmtoffset': 3600}},
 'tradingPeriods':                                                 end                     start
 Date
 2024-07-31 00:00:00+01:00 2024-07-31 23:59:00+01:00 2024-07-31 00:00:00+01:00
 2024-08-01 00:00:00+01:00 2024-08-01 23:59:00+01:00 2024-08-01 00:00:00+01:00,
 'dataGranularity': '1m',
 'range': '',
 'validRanges': ['1d',
  '5d',
  '1mo',
  '3mo',
  '6mo',
  '1y',
  '2y',
  '5y',
  '10y',
  'ytd',
  'max']}